body {
    font-family: 'Open Sans', sans-serif;
    background-color: #283b52;
    font-size: 1.25rem;
}

.main-content {
    text-align: left;
    margin-left: 230px;
    margin-top: 150px;
    padding: 10px;
}

.profile-pic {
    height: 140px;
    width: 140px;
    border-radius: 70px;
}

.content {
    font-size: 20px;
    text-align: left;
}

.link {
    color: #ffffff;
    padding-top: 90px;
}

.link > a {
    color: #ffffff;
}

.content > .description {
    max-width: 500px;
    color: #ffffff;
}

.color {
    color: #ffbf00;
}

@media (max-width: 350px) {
    .profile-pic {
        height: 150px;
    }
}
