body {
    font-family: 'Open Sans', sans-serif;
    background-color: #283b52;
}

.main-content {
    text-align: left;
    margin-left: 15vw;
    margin-top: 17vh;
    padding: 10px;
}

.profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 70px;
}

.content {
    font-size: 1.2rem;
    text-align: left;
    width: 35vw;
    color: #ffffff;
}

.content > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.link {
    padding-top: 10vh;
}

.link > a {
    color: #ffffff;
}

.color {
    color: #ffbf00;
}

@media only screen and (max-width: 800px) {
    .profile-pic {
        height: 100px;
        width: 100px;
    }

    .main-content {
        padding: 10vh 0;
        margin: auto;
        width: 70%;
    }

    .content {
        width: 100%;
    }
}
